
@{
    ViewData["Title"] = "Create Product";
}

@model POSSystemMVC.Models.Product

<div class="text-center">
    <h1 class="display-4">Create Product</h1>
</div>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    @* <label>ID</label> *@
    @* <input type="hidden" asp-for="ProductID" value="0" /> always pass the number 0 so it doesnt stay empty *@

    <label class="mt-4">Code</label>
    <input type="text" placeholder="Add Code" asp-for="code" step="0.01" />


    <label class="mt-4">Cost Price</label>
    <input type="number" placeholder="0" asp-for="CostPrice" step="0.01"/>

    <label class="mt-4">Description</label>
    <input type="text" placeholder="Add a description" asp-for="Description" />

    <button class="btn btn-primary mt-4" type="submit">Ok</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>