
@{
    ViewData["Title"] = "Create Vendor";
}

@model POSSystemMVC.Models.Vendor

<div class="text-center">
    <h1 class="display-4">Create Product</h1>
</div>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    @* <label>ID</label> *@
    @* <input type="hidden" asp-for="ProductID" value="0" /> always pass the number 0 so it doesnt stay empty *@

    <label class="mt-4">Name</label>
    <input type="text" placeholder="Add Name" asp-for="Name" step="0.01" />

    <label class="mt-4">Email</label>
    <input type="email" placeholder="Add a Email" asp-for="Email" />

    <label class="mt-4">Phone</label>
    <input type="text" placeholder="Enter Phone" asp-for="Phone" />

    <button class="btn btn-primary mt-4" type="submit">Ok</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>